doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")
    header

    body
        h1 Guild Wars
        block content
        a.btn.btn-primary(style="margin-right:2rem" href="/") Home
        a.btn.btn-primary(style="margin-right:2rem" href="/classes") Classes
        a.btn.btn-primary(style="margin-right:2rem" href="/stuff") Stuff
        a.btn.btn-primary(style="margin-right:2rem" href="/map") Map
        block content1
