extends layout

block content
    p You are in the page of the Stuff !
block content1
    .container
        h3 Here's the map :
        img(src="http://images.mmosite.com/news/2009/10/13/gw2feature/wolrdmap.jpg")